# Python
__pycache__/
*.py[cod]

# Environments
*.yml
*.yaml
.env

# Data, Datasets, and Experiments
data/
!htmp/data/
datasets/
experiments/

# Logs
*.log
installation_log.txt

# IDE/Editor specific
.vscode/
.idea/