# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv

# Data & outputs
/data/raw/*
/data/processed/*
/models/*
/logs/*
/submissions/*.csv
/notebooks/*.ipynb
!notebooks/htmp_lazy_fit_baseline.ipynb
!data/processed/.gitkeep
!logs/.gitkeep
!models/.gitkeep

# Misc
.DS_Store
